@import url("https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #e2e8f0;
}

/* Front page-->about page */
h1,
h3 {
  font-weight: normal;
}

main {
  text-align: center;
}

.main-title {
  padding: 20px;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dfdbd8;
}

.front-name {
  font-size: 4em;
  text-align: center;
}
.front-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.front-sub h3 {
  padding: 10px;
}
.front-sub h3 a {
  color: #dfdbd8;
  text-decoration: none;
  font-weight: lighter;
}

/* navigational bar */
.container {
  position: fixed;
  width: 100%;
}
nav div {
  list-style-type: none;
}

nav div a {
  display: inline-block;
  margin: 10px 40px;
  padding: 20px;
  text-decoration: none;
  font-size: large;
  color: #565c5e;
  font-family: "Libre Baskerville", serif;
}

.navbar-left {
  float: right;
}
/* navigational bar */

.bg-img {
  background-image: url("img/home-img.jpg");

  height: 100vh;
  /* min-height: 600px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* About page css */

.about-me {
  margin: 10% 16%;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px #edf27 solid; */
  background-color: #e4ecf5;
  border-radius: 33px;
  box-shadow: grey 2px 2px 10px;
}

.about-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.about-item {
  margin: 10px;
  padding: 20px;
  flex-basis: 100%;
}

.about-item div p {
  word-spacing: 20px;
}

.about-me h1 {
  color: #565c5e;
  display: inline-block;
  font-size: 3em;
  padding: 20px 40px 20px 40px;
  margin: 20px;
  /* border: 4px #d4cece solid; */
  border-radius: 18px;
  /* background-color: #ccc5c5; */
  box-shadow: 2px 2px 10px;
}

.about-item img {
  border-radius: 100%;
  /* box-shadow: 2px 2px 10px grey; */
}

.about-item p {
  color: #565c5e;
  word-spacing: 10px;
  font-size: 20px;
}

/* the experience page */
.exp-page {
  margin: 22% 16%;
}

.exp-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 4px #d4cece solid; */
  background-color: #e4ecf5;
  border-radius: 33px;
  box-shadow: 2px 2px 10px gray;
}

.exp-row {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.exp-item {
  display: inline-block;
  margin: 10px;
  flex-basis: 100%;
}

.exp-page h1 {
  color: #565c5e;
  display: inline-block;
  font-size: 3em;
  padding: 20px 40px 20px 40px;
  margin: 20px;
  /* border: 4px #d4cece solid; */
  border-radius: 18px;
  /* background-color: #ccc5c5; */
  transition: padding 0.5s;
  box-shadow: 2px 2px 10px;
}

.exp-row div h2 {
  color: black;
  font-weight: lighter;
}

/* icons in experience */
i {
  font-size: 40px;
}

/* Work page */

.pro-page {
  margin: 10% 16%;
}

.pro-page h1{
  color: #565c5e;
  display: inline-block;
  font-size: 3em;
  padding: 20px 40px 20px 40px;
  margin: 20px;
  border-radius: 18px;
  box-shadow: 2px 2px 10px;
  
}

.pro-container{
  display: flex;
  flex-direction: column;
  /* border: 4px #d4cece solid; */
  background-color: #e4ecf5;
  border-radius: 33px;
  box-shadow: 2px 2px 10px;
}

.pro-row{
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: 20px;
}

.pro-item{
  display: inline-block;
  flex-basis: 100%;
  margin: 10px;
}
.pro-container h2{
  padding: 10px;
  font-weight: lighter;
  
}
.pro-item img {
  height: 100px;
  width: 120px;
}


/* footer styling */

footer {
  padding: 40px;
  background-color: #565c5e;
}
footer p {
  color: #dfdbd8;
  text-align: center;
}
/*pseudo classes*/

/* navbar decoration */
.navbar-left a:hover {
  text-decoration: underline;
}
/* front subdivision text */
.front-sub h3 a:hover {
  position: relative;
  bottom: 2px;
}



.exp-page h1:hover {
  padding: 20px 80px 20px 80px;
}
