* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  font-family: "Libre Baskerville", serif;
  background-color: #dfd8d8;
}

/* Front page-->about page */
h1,
h3 {
  font-weight: normal;
}

main {
  text-align: center;
}

.main-title{
    padding: 20px;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dfdbd8;
}

.front-name {
  font-size: 4em;
  text-align: center;
}
.front-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.front-sub h3 {
  padding: 10px; 
}
.front-sub h3 a{
    color: #dfdbd8;
    text-decoration: none;
    font-weight: lighter;
}

/* navigational bar */
.container {
  position: fixed;
  width: 100%;
}
nav div {
  list-style-type: none;
}

nav div a {
  display: inline-block;
  margin: 10px 40px;
  padding: 20px;
  text-decoration: none;
  font-size: large;
  color: #565c5e;
  font-family: "Libre Baskerville", serif;
}

.navbar-left {
  float: right;
}
/* navigational bar */

.bg-img {
  background-image: url("img/home-img.jpg");

  height: 100vh;
  /* min-height: 600px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* About page css */

.about-me{
    margin: 100px 16%;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.about-row{
    display: flex;
    flex-direction: row;
    
}
.about-item{
    background-color: red;
    margin: 10px;
    flex-basis: 100%;
}

.about-me h1 {
  font-size: 4em;
  padding: 20px;
  margin: 20px;
}

.about-me img{
    float: left;
}

/*pseudo classes*/

/* navbar decoration */
.navbar-left a:hover {
  text-decoration: underline;
}
/* front subdivision text */
.front-sub h3 a:hover{
    position: relative;
    bottom: 2px;

}
