* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  font-family: "Libre Baskerville", serif;
  background-color: #dfd8d8;
}

/* Front page-->about page */
h1,h3 {
  font-weight: normal;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fffafa;
}
.front-name {
  text-align: center;
}
.front-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.front-sub h3 {
  padding: 6px;
}

/* navigational bar */
.container{
    position: fixed;
    width: 100%;
}
nav div {
  list-style-type: none;
}

nav div a {
  display: inline-block;
  margin: 20px 40px;
  padding: 10px;
  text-decoration: none;
  font-size: large;
  color: #565c5e;
  font-family: "Libre Baskerville", serif;
}

.navbar-left {
  float: right;
}
/* navigational bar */

.bg-img {
  background-image: url("img/home-img.jpg");

  height: 100vh;
  /* min-height: 600px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* About page css */
.about-me {
  margin: 150px 20% 0 20%;
  text-align: center;
}

.about-me h1 {
    font-size: 3em;
    padding: 20px;
    margin: 20px;    
}

.about-me article{
    display: inline-block
    
}

/* temporary */
.about-me p{
    padding: 10px;
    border: 4px red dotted;
}

.about-me img{
    padding: 10px;
    border: 4px red dotted;
    float: left;
}
/* temporary */

/*pseudo classes*/

.navbar-left a:hover {
  text-decoration: underline;
}
